[submodule "lib/raylib"]
	path = lib/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "lib/emsdk"]
	path = lib/emsdk
	url = https://github.com/emscripten-core/emsdk
[submodule "lib/rlImGui"]
	path = lib/rlImGui
	url = https://github.com/raylib-extras/rlImGui.git
[submodule "lib/imgui"]
	path = lib/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "lib/json"]
	path = lib/json
	url = https://github.com/nlohmann/json.git
